@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-primary-50: #f8f7f7;
    --color-primary-100: #f0eeee;
    --color-primary-200: #ded9d9;
    --color-primary-300: #c2b7b7;
    --color-primary-400: #a09091;
    --color-primary-500: #857274;
    --color-primary-600: #6d5c5d;
    --color-primary-700: #594b4c;
    --color-primary-800: #4b4142;
    --color-primary-900: #413939;
    --color-primary-950: #100e0e;
    --color-secondary-50: #f6f6f6;
    --color-secondary-100: #e7e7e7;
    --color-secondary-200: #d1d1d1;
    --color-secondary-300: #b0b0b0;
    --color-secondary-400: #888888;
    --color-secondary-500: #6d6d6d;
    --color-secondary-600: #5d5d5d;
    --color-secondary-700: #4f4f4f;
    --color-secondary-800: #454545;
    --color-secondary-900: #383838;
    --color-secondary-950: #262626;



}